label {
    color: #d3d3d3;
}
.filter-div-off {
    display: none;
}
.filter-div-on {
    display: block;
}
th {
    font-weight: bold;
    font-size: 14px;
}
.delete-form {
    display: inline-block;
}